@charset "UTF-8";

body{
      background-color: #D6D58E;
      
}

h1{
    color: #005C53;
}

#principal{
    text-align: center;
    background-color: #042940;
    color: white;
}

h2{
    color: rgb(55, 97, 83);
    
}

.basico{
    color: rgb(37, 219, 37);
    
}

.intermidiario{
    color: rgb(214, 236, 14);
}

.Avançado{
    color: red;
}

.destaque{
    background-color: #a18ed6;
}